<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="admin-dashboard">
        <h2>Contacted People List</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
                <th>Timestamp</th>
                <th>Filename</th>
                <th>Action</th> <!-- Add a new column for the download button -->
            </tr>
            {% for contact in contact_list %}
            <tr>
                <td>{{ contact[0] }}</td>
                <td>{{ contact[1] }}</td>
                <td>{{ contact[2] }}</td>
                <td>{{ contact[3] }}</td>
                <td>{{ contact[4] }}</td> <!-- Format timestamp -->
                <td>{{ contact[5] }}</td>
                <td>
                    <!-- Generate a unique filename for each row -->
                    {% set dynamic_filename = contact[5] %}
                    <!-- Display the dynamic_filename for debugging -->
                    <a href="{{ url_for('download_zip', filename=dynamic_filename) }}" class="btn" download>Download Zip</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="gotohome">
            <a href="{{ url_for('home') }}"><button class="btn">Back to Home</button></a>
        </div>
    </div>
</body>
</html>
