<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="contactpage-body">
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">DataMind</h2>
            </div>

            <div class="menu">
                <ul class="ulheader">
                    <li class="liheader"><a class="aheader" href="{{ url_for('home') }}">HOME</a></li>
                    <li class="liheader"><a class="aheader" href="{{ url_for('service_page') }}">SERVICES</a></li>
                    <li class="liheader"><a class="aheader" href="{{ url_for('analysis_page') }}">ANALYSIS</a></li>
                    <li class="liheader"><a class="aheader" href="{{ url_for('about_page') }}">ABOUT</a></li>
                    <li class="liheader"><a class="aheader" href="{{ url_for('upload_page') }}">UPLOAD</a></li>
                </ul>
            </div>

            <!-- <div class="gotoadmin">
                <a href="{{ url_for('admin_login_page') }}"><button class="btn">Admin Login</button></a>
            </div>

            <div class="gotocustomerregistration">
                <a href="{{ url_for('customer_registration_page') }}"><button class="btn">Register</button></a>
            </div> -->

            <div class="gotoadmin-register">
                <a href="{{ url_for('admin_login_page') }}"><button class="btn">Admin Login</button></a>
                <a href="{{ url_for('customer_registration_page') }}"><button class="btn">Register</button></a>
                <a href="{{ url_for('customer_login') }}"><button class="btn">User Login</button></a>
            </div>
        </div>


        <div class="contactpage-container">
            <div class="contactpage-formbody">
                <div class="contactpage-info">
                    <h3 class="contact-us-title">Let's get in touch</h3>
                    <p class="contact-us-text">
                        We strive to provide exceptional customer service and
                        your satisfaction. Please don't hesitate to reach out to us via phone, email.
                    </p>
                    <div class="info-img">
                        <div class="information-img">
                            <img src="img/location.png" class="icon-cont" alt="">
                            <p>Haridwar, Uttarakhand</p>
                        </div>
                        <div class="information-img">
                            <img src="img/email.png" class="icon-cont" alt="">
                            <p>mail@datamind.com</p>
                        </div>
                        <div class="information-img">
                            <img src="img/telephone.png" class="icon-cont" alt="">
                            <p>+91-7900832609</p>
                        </div>
                    </div>
                    <div class="contact-social-media">
                        <p>Connect with us :</p>
                        <div class="contact-social-icon">
                            <a href="#">
                                <ion-icon name="logo-facebook" style="color: black;">
                            </a>
                            <a href="#">
                                <ion-icon name="logo-twitter" style="color: black;">
                            </a>
                            <a href="#">
                                <ion-icon name="logo-instagram" style="color: black;">
                            </a>
                            <a href="#">
                                <ion-icon name="logo-linkedin" style="color: black;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contactpage-form">
                    {% if upload_success %}
                    <div class="alert-success">
                        <b>Great,</b>Data Upload Successful! View your Reports in two days.
                    </div>
                    {% endif %}

                    {% if user_not_registered %}
                    <div class="alert-warning">
                        <b>Alert : </b>Please <a href="{{ url_for('customer_registration_page') }}">register</a> first to upload data.
                    </div>
                    {% endif %}

                    <form class="contact-us-form" action="/submit" method="post" autocomplete="off">
                        <h3 class="contactus-title">Upload Data</h3>
                        <div class="input-container-contact-us">
                            <input type="text" name="name" placeholder="name" class="contact-us-input">
                        </div>
                        <div class="input-container-contact-us">
                            <input type="email" name="email" placeholder="email" class="contact-us-input">
                        </div>
                        <div class="input-container-contact-us">
                            <input type="tel" name="phone" placeholder="phone" class="contact-us-input">
                        </div>
                        <div class="input-container-contact-us"> <!---textarea-->
                            <textarea name="message" placeholder="message" class="contact-us-input"></textarea>
                        </div>
                        <div class="input-container-contact-us">
                            <label for="zip_file" class="contact-us-input-lebel">Upload ZIP File:<span class="note-for-file-upload">(Note:-Please include Requirements.txt and data file in the zip)</span></label>
                            <input type="file" name="zip_file" accept=".zip" class="contact-us-input">
                        </div> 
                        <input type="submit" value="Send" class="contact-us-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://kit.fontawesome.com/64d58efce2.js"></script> -->
    
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <!-- <script>
        // Check JavaScript variable to display pop-up messages
        if ({ upload_success }) {
            // Display a "Data Upload Successful" pop-up message if the upload was successful
            alert("Data Upload Successful!");
        }

        if (!{ upload_success }) {
            // Display a "Data Upload Successful" pop-up message if the upload was successful
            alert("Data Upload Unsuccessful!");
        }

        if ({ user_not_registered }) {
            // Display a "Please register first to upload data" pop-up message if the user is not registered
            alert("Please register first to upload data.");
            // You can optionally redirect to the registration page here
        }
    </script> -->
</body>

</html>